.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	padding: 30px;
	border-radius: 16px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 500px;
	flex-direction: column;
  }
  label {
	display: block;
	margin: 10px 0 5px;
	font-weight: bold;
  }
  input, select, textarea {
	width: 80%;
	padding: 10px 10px;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 1rem;
	margin: 8px 8px;
  }
  button {
	width: 100%;
	margin-top: 20px;
	background-color: #311ae6;
	color: white;
	border: none;
	padding: 12px;
	font-size: 1rem;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s;
  }