/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu,  section {
	display: block;
}
body {
	line-height: 1;
	display: contents;
	width: 100vh;
	height: 100%;
	background-color: #1351d8;
	}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* cabeçalho*/
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
	
	}

#ancora-header{
	width: 350px;
	height: 50px;
	border: none;
	}

#logo{
	padding: 8px 10px ;
	width: 120px;
}
.nav-header{
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 20px 10px ;
	
}	
.nav-header a{
	justify-content: center;
	margin: 0 20px;
	text-decoration: none;
	flex-grow: 1;
}
.site-link{
	font-size: 30px;
	text-decoration: none;
	color: #1351d8;
	padding: 8px;
}
main{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
}
main image{
	max-width: 100%;
	max-height: 100%;
}
#ranger-imagem{
width: 1200px;
height: 700px;
padding: 10px;
border-radius: 15px;
}
#paragrafo-informacao-main{
	margin: 7px;
	font-size: 15px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
footer{
	background-color:  #1b357e ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

.div-footer-Redes-Sociais{
		display: flex;
		align-items: center;
		justify-content: left;
		padding: 10px ;
		text-decoration: none;
		margin: 0px 0px 3px;
		padding: 20px 10px;
	}	
.redes-sociais-footer{
	padding: 3px;
}
.site-links{
		color: white;
		text-decoration: none;

	}
#Redes-Sociais{
		color: white;
		font-size: 25px;
	}

#img-ford-final{
	max-width: 100%;
	height: 55px;
}
#logo-ford {
	max-width: 100%;
	display: flex;
	
}

