/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu,  section {
	display: block;
}
html{
	width: 100%;
	height: 100%;
}
body{
	line-height: 1;
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: space-around;
	}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.pagina {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	  }

/* cabeçalho*/
header{
	display: flex;
	width: 100%;
	height: 10%;
	align-items: center;
	justify-content: space-around;
	background: #fff;
	box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.1);
	
	
	}

#logo-ford{
	width: 50%; /* Tamanho ajustado do logo em telas grandes */
    max-width: 200px;
	padding: 8% 10%;
	
}
.ancora-navegacao{
	width: 20%;
	
}
.nav-header{
	display: flex;
	align-items: center;
	justify-content: space-around+++++++++++++++++++++++++++++++++++++++++++++-+
	-;
	text-decoration: none;
	padding: 1% 10%;
	overflow: hidden;

	
}	
.nav-header a{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	flex-grow: 1;
	margin:  0% 5%;
}
.site-link{
	font-size: 1.5rem;
	color: #1351d8;
	margin: 5%;
}
main{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 1%;
}

.texto-navegacao{
	text-decoration: none;
	color: #1351d8;
}
#ranger-imagem{
width: 100%;
height: 80%;
padding: 2%;
border-radius: 2.5rem;
}
#paragrafo-informacao-main{
	margin: 1%;
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
footer{
	background-color:  #1b357e ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

.div-footer-Redes-Sociais{
		display: flex;
		align-items: center;
		justify-content: left;
	    text-decoration: none;
		margin: 0% 0% 0%;
		padding: 1% 2%;
	}	
.redes-sociais-footer{
	padding: 3px;
}
.site-links{
		color: white;
		text-decoration: none;

	}
#Redes-Sociais{
		color: white;
		font-size: 1.5rem;
		
	}


#logo-ford-final{
	max-width: 100%;
	display: flex;
	padding: 1%;
	
}

h1, h2, h3, p, span, a, button{
	font-family: "Lora", sans-serif;
	font-weight: bold;
}
@media (max-width: 720px){
	html, body {
		width: 100%; 
		height: 100%; 
		margin: 0;
		padding: 0; 
		overflow-x: hidden;
		font-family: "Roboto", sans-serif;
		line-height: 1.5; 
	}
	header{
		width: 100%;
		height: 5%;
	}
	#logo-ford{
		padding: 4% 1%;
		width: 100%;
		height: 100%;
	}
	.nav-header{
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		padding: 1% 1% ;
		overflow: hidden;
	}
		
	.nav-header a{
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		flex-grow: 1;
		margin:  0% 1%;
	}
	.site-link{
		font-size: 1rem;
		color: #1351d8;
		margin: 5%;
	}
	main{
		width: 100vw;
		height: 80vh;
	}


	footer{
		gap: 0;
		margin: 0%;
		padding: 0%;
		width: 100%;
		height: 10% 	;
	}
}