/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
	margin: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu,  section {
	display: block;
}
body {
	line-height: 1;
	display: contents;
	width: 100hv;
	}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header{
	display: flex;
	align-items: center;
	justify-content: space-between; /* Garante que logo e nav fiquem nos extremos */
    padding: 10px 20px;  /* Ajuste o padding conforme necessário */
	
	
}
#div-hader{
	box-shadow: black 2px 2px 0.1;
}

#ancora-header{
	width: 350px;
	height: 50px;
	border: none;

	color: #1b357e;
}
#logo-header{
	display: flex;
	justify-content: flex-start;
}
.nav-header{
	display: flex;
	align-items: center;
	
	padding: 10px ;
	text-decoration: none;
	margin: 3px 0px 0px;
	padding: 20px 0px 0px;
	
}	
.nav-header a{
	justify-content: center;
	margin: 0 20px;
	text-decoration: none;
	flex-grow: 1;
}

main{
	display: flex;
	align-items: center;
	justify-content: center;
}
#ranger-imagem{
width: 1250px;
height: 750px;
}
footer{
	background-color: #1351d8 ;
	display: flex;
	justify-content: space-between;
	}

.div-footer-Redes-Sociais{
		display: flex;
		align-items: center;
		justify-content: left;
		padding: 10px ;
		text-decoration: none;
		margin: 3px 0px 0px;
		padding: 20px 0px 0px;
		
	}	
#Redes-Sociais{
		color: white;
		font-size: 25px;
	}

#img-ford-final{
	max-width: 100%;
	height: 65px;
}
#logo-ford {
	max-width: 100%;
	display: flex;
	
}
